body {
    background: rgb(31, 238, 126);
    background: linear-gradient(0deg, rgba(31, 238, 126, 1) 0%, rgba(248, 255, 169, 1) 100%);
    height: 100vh;
}

.thumbnail {
    width: 160px;
    height: 160px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.listRow {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 180px;
    height: 180px;
    padding-top: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-style: ridge;
    border-width: 3px;
    border-color: black;
    box-shadow: 3px 0px 3px 0px grey;
}

.listRow:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.listRow h3 {
    text-align: center;
    font-family: carrots;
}

a {
    color: black;
    text-decoration: none;
}

.fullList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 60vh;
    overflow: scroll;
    margin-left: 10vw;
    margin-right: 10vw;
}

.detailsCard {
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: aqua;
    border-style: ridge;
    border-width: 3px;
    border-color: black;
    box-shadow: 3px 0px 3px 0px grey;
}

.detailsCardImage img {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

.detailsCardText {
    position: relative;
}

.detailsCardText h2 {
    text-align: center;
    font-family: carrots;
}

.detailsCardIcons {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.detailsCardText p {
    margin-left: 20px;
}

.icon {
    margin-left: 10px;
    width: 30px;
}

#logo {
    display: block;
    width: 90vw;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    filter: hue-rotate(340deg);
    z-index: 1;
    position: relative;
}

#linkRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10vw;
    font-size: 3vw;
    font-family: carrots;
    z-index: 2;
    position: relative;
}

@font-face {
    font-family: carrots;
    src: url(../assets/fonts/Carrots\ Free.ttf);
}

@media only screen and (min-width: 800px) {
    #linkRow {
        margin-top: -80px;
        font-size: 25px;
    }
}

@media only screen and (min-width: 750px) {
    .fullList {
        height: 57vh;
    }
}