@model Factory.Models.Machine

<body>
    <div class="detailsCard">
        <div class="detailsCardImage">
            <img src="@Model.ImageUrl" alt="Machine" />
        </div>
        <div class="detailsCardText">
            <h2>@Model.Name</h2>
            <p>Licensed Engineers:</p>
            <ul>
                @foreach (EngineerMachine join in Model.EngineerMachines)
                {
                    <li><em>@Html.ActionLink($"{join.Engineer.Name}", "Details", "Engineers", new
                                {
                                    id =
                                     join.Engineer.EngineerId
                                }) </em></li>
                }
            </ul>
            <div class="detailsCardIcons">
                <a href="/machines/edit/@Model.MachineId">
                    <img class="icon" src="~/assets/images/editIcon.webp" alt="edit icon" />
                </a>
                <a href="/machines/delete/@Model.MachineId">
                    <img class="icon" src="~/assets/images/deleteIcon.png" alt="delete icon" />
                </a>
            </div>
        </div>
    </div>
</body>
