<a class="newEntry" asp-controller="Machines" asp-action="Create">Add New Machine</a>

@if (@Model.Count == 0)
{
    <h3>No machines have been added...</h3>
}
<div class="fullList">
    @foreach (Machine machine in Model)
    {
        <a href="/machines/details/@machine.MachineId">
            <div class="listRow">
                <img class="thumbnail" src=@machine.ImageUrl alt="thumbnail">
                <h3>@machine.Name</h3>
            </div>
        </a>
    }
</div>