<a href="/">
    <h1>Dr. Sillystringz's Factory</h1>
</a>

<li>
    @Html.ActionLink("Engineers", "Index", "Engineers", null)
</li>
<li>
    @Html.ActionLink("Machines", "Index", "Machines", null)
</li>