<a href="/">
    <img id="logo" src="~/assets/images/logo.png">
</a>
<div id="linkRow">
    <h2>
        @Html.ActionLink("Engineers", "Index", "Engineers", null)
    </h2>
    <h2>
        @Html.ActionLink("Machines", "Index", "Machines", null)
    </h2>
</div>