@model Factory.Models.Engineer

<body>
    <h2> Engineer Details</h2>
    <hr />
    <img src="@Model.ImageUrl" alt="Engineer" />
    <p>@Model.Name</p>
    <p>Qualified For:</p>
    <ul>
        @foreach (EngineerMachine join in Model.EngineerMachines)
        {
            <li>@Html.ActionLink($"{join.Machine.Name}", "Details", "Machines", new
                    {
                        id =
                         join.Machine.MachineId
                    }) </li>
        }
    </ul>
    <a href="/engineers/edit/@Model.EngineerId">
        <img class="editIcon" src="~/assets/images/editIcon.svg" alt="edit icon" />
    </a>
    <a href="/engineers/delete/@Model.EngineerId">
        <img class="deleteIcon" src="~/assets/images/deleteIcon.svg" alt="delete icon" />
    </a>

</body>
